.overlay {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top :0;
    left: 0;
    height: 100vh;
    transform: scale(0);
    transition: 0.5s;
}


.content {
    text-align: center;
    position: relative;
    top: 25%;
    margin-top: 4%;

}


.overlay a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

.close {
    position: absolute;
    top: 25px;
    right: 35px ;
    font-size: 60px;

}