img {
    width: 800px;
    height: 400px;
    display: block;
    margin: 50px auto;
    border: 1px solid #f50;
    padding: 5px;
}
p {
    width: 60%;
    margin: auto;
    background-color: #000;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}